.carrito-body__cantidad button{
    /* Botones de agregar y quitar */
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 30px;
    border:none; 
  }  
  .carrito-body__cantidad--añadir{
    /* Icono de añadir */
    color: #70A83B;
    text-align: right;
  }  
  .carrito-body__cantidad--añadir:hover{
    color: #619234;
  }  
  .carrito-body__cantidad--añadir:active{
  color:darkgreen;  
  }
  /* ----------------------- */
  .carrito-body__cantidad--restar{
    /* Icono de quitar */
    color: #B8B8B8;
    text-align: left;
  }  
  .carrito-body__cantidad--restar:hover{
    background-color: transparent;
    color: #aa8484;
  }  
  .carrito-body__cantidad--restar:active{
    color:darkred  
  }
  .cart-items__delete:hover{
    color: red !important;
    cursor: pointer;
  }
  .cart-items__delete{
    color: gray !important;
    text-decoration: none;
  }

  .precie {
    margin: 10px;
    font-weight: bold;
    color: #eaceb0;
    font-size: large;
    border-width: 3px;
    border-radius: 10px;
    display: inline-block;
}

.botoncarrite {
    background-color: #70A83B;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoncarrite .material-symbols-outlined {
    margin-right: 10px;
}

.botoncarrite:hover {
    background-color: #ffffff;
    color: #4A2E10;
}

.agregar-carrito {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.bottomcard{
    background-color: #4A2E10;
    border-radius: 10px;
}

.letrablanca{
    color: white;
}

.letraverde{
  color: #70A83B;
}

.letracafe{
  color: #4A2E10;
}

.botonvaciar{
  background-color: #acacac;
  color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botonvaciar:hover{
  background-color: rgb(178, 13, 13);
  color: #ffffff;
}

.iconovaciar{
  margin-left: 10px;
}

.botonpedido {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #70A83B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 18px;
}

.botonpedido:hover{
  background-color: #375c14;
  color: #ffffff;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}

.offcanvas1 {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #4A2E10;
}

.material1 {
  font-size: 48px;
  font-weight: 600;
  margin-left: 10px;
  color: #4A2E10;
}
