/* CSS CARRITO */
#decrease-quantity1 {

    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.363);
    border-style: hidden;

}

#increase-quantity1{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(112, 168, 59);
    border-style: hidden;


}

#decrease-quantity2 {

    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.363);
    border-style: hidden;

}

#increase-quantity2 {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(112, 168, 59);
    border-style: hidden;


}

#decrease-quantity3 {

    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.363);
    border-style: hidden;

}

#increase-quantity3{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(112, 168, 59);
    border-style: hidden;


}



#botoncheckout{
    background-color:  rgb(112, 168, 59);
    color: azure;
    border-color:  rgb(112, 168, 59);
   border-style: dashed;
   border-radius: 100rem;
   align-items: center;
   
}

#trash{
    background-color: rgba(240, 255, 255, 0.404);
    border: 0cm;
}

#trash2{
    background-color: rgba(240, 255, 255, 0.404);
    border: 0cm;
}

#trash3{
    background-color: rgba(240, 255, 255, 0.404);
    border: 0cm;
}

.fas {
   font-size: 12px;
}

/* CSS FOOTER */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  /*color de los links*/
  a {
    color: #4A2E10;
  }
  
  /* lineas separadoras del footer */
  .col-sm-4 {
    border-right: 1px solid #e6e6e6;
  }
  footer{
    color: #4A2E10;
  }
  /*tamaño de los iconos*/
  .list-inline-item i {
    font-size: 30px;
  }
  
  
/*nav bar*/
/* Codigo del logo en la NavBar */
#navbar__logo{
    margin:10px;
    margin-right: 10px !important;
    }
    @media (min-width:1080px ) {
        #navbar__logo{
            margin-left:50px !important;
            margin-right: 70px !important;
            }
    }
/* Estilo de los links de la navBar */
.navbar__links a{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4A2E10;
    margin-right: 0px;
}
.navbar__links a:hover{
    color: #70A83B;
}
.active{
    color: #858585 !important;
    pointer-events: none;
}
.navbar__links--invisible{
    display: none;
}
/* Codigo de los botones en la NavBar */
.navbar__botones{
    background-color: white;
    column-gap: 10px;
    flex-direction:unset !important;
}
.navbar__botones .a{
    color: gray;
    font-size: 24px;
    text-decoration: none;
    border: 4px solid #858585;
    border-radius: 100%;
    padding: 20px;
    background: #F5F5F5;
    height: 72px;
}
.navbar__botones .a:hover{
    border-color:#70A83B;
}
@media (min-width: 990px) {
    .navbar__links--invisible{
        display:contents;
    }
    .navbar__botones .a{
        color: #4A2E10;
        text-decoration: none;
        border:none;
        border-radius: 0%;
        background: white;
    }
    .navbar__links a{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #4A2E10;
        margin-right: 30px;
    }
}


/* Formulario dentro del boton de iniciar sesion */
#navbar__login{
    position: absolute;
    width: 14rem;
    right: auto;
}
@media (min-width: 355px) {
    #navbar__login{
        position: absolute;
        width: 22rem;
        right: 0;
    }
}
#navbar__login a{
    font-size: 15px;
    padding: 0;
}
#navbar__login a:hover {
    background-color: white;
    
}
#navbar__login a:visited {
    background-color: white !important;
    
}
#carrito__contador{
    background-color: #70A83B !important;
}
