.botonesIngresar {
    background-color: #eaeaea;
    color: #4A2E10;
    font-weight: 600;
}

.botonesIngresar:hover {
    background-color: #70A83B;
    color: #FFFFFF;
}


.nav-font {
    font-size: 12px;
    color: #4A2E10;
    font-weight: 600;
}

.nav-font:hover {
    color: #70A83b;
}

@media (min-width: 720px) {
    .facet_sidebar {
        font-size: 25px;

    }
}
