@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

p {
    margin: 0
}

.box-right {
    padding: 30px 25px;
    background-color: rgb(251, 251, 251);
    border-radius: 15px
    
}

.box-left {
    padding: 20px 20px;
    background-color: #4A2E10;
    border-radius: 15px
}

.textmuted {
    color: #7a7a7a
}

.textwhite {
    color: #ffffff
}

.textgreen {
   color: rgb(112, 168, 59)
}

.whitebtn {
    background-color: #ffffff;
}

.whitebtn:hover {
    background-color: rgb(112, 168, 59);
}

.greenbtn {
    background-color: rgb(112, 168, 59);
}

.greenbtn:hover {
    background-color: rgb(63, 122, 7);
    color: rgb(255, 255, 255);
}

.bg-green {
    background-color: #d4f8f2;
    color: #06e67a;
    padding: 3px 0;
    display: inline;
    border-radius: 25px;
    font-size: 11px
}

.p-cafe {
    font-size: 14px;
    color: #4A2E10
}

.fas.fa-circle {
    font-size: 12px
}

.p-org {
    font-size: 14px;
    color: #fbc02d
}

.h7 {
    font-size: 15px
}

.h8 {
    font-size: 12px
}

.h9 {
    font-size: 10px
}

.bg-blue {
    background-color: #dfe9fc9c;
    border-radius: 5px
}

.form-control {
    box-shadow: none !important
}

.card input::placeholder {
    font-size: 14px
}

::placeholder {
    font-size: 14px
}

input.card {
    position: relative
}

.far.fa-credit-card {
    position: absolute;
    top: 10px;
    padding: 0 15px
}

.fas,
.far {
    cursor: pointer
}

.cursor {
    cursor: pointer
}

.btn.btn-primary {
    box-shadow: none;
    height: 40px;
    padding: 11px
}

.bg.btn.btn-primary {
    background-color: transparent;
    border: none;
    color: #1976d2
}

.bg.btn.btn-primary:hover {
    color: #539ee9
}

@media(max-width:320px) {
    .h8 {
        font-size: 11px
    }

    .h7 {
        font-size: 13px
    }

    ::placeholder {
        font-size: 10px
    }
}


/* SELECCION DE FECHA DE NACIMIENTO*/

/*nav bar*/
/* Codigo del logo en la NavBar */
#navbar__logo{
    margin:10px;
    margin-right: 10px !important;
    }
    @media (min-width:1080px ) {
        #navbar__logo{
            margin-left:50px !important;
            margin-right: 70px !important;
            }
    }
/* Estilo de los links de la navBar */
.navbar__links a{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4A2E10;
    margin-right: 0px;
}
.navbar__links a:hover{
    color: #70A83B;
}
.active{
    color: #858585 !important;
    pointer-events: none;
}
.navbar__links--invisible{
    display: none;
}
/* Codigo de los botones en la NavBar */
.navbar__botones{
    background-color: white;
    column-gap: 10px;
    flex-direction:unset !important;
}
.navbar__botones .a{
    color: gray;
    font-size: 24px;
    text-decoration: none;
    border: 4px solid #858585;
    border-radius: 100%;
    padding: 20px;
    background: #F5F5F5;
    height: 72px;
}
.navbar__botones .a:hover{
    border-color:#70A83B;
}
@media (min-width: 990px) {
    .navbar__links--invisible{
        display:contents;
    }
    .navbar__botones .a{
        color: #4A2E10;
        text-decoration: none;
        border:none;
        border-radius: 0%;
        background: white;
    }
    .navbar__links a{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #4A2E10;
        margin-right: 30px;
    }
}


/* Formulario dentro del boton de iniciar sesion */
#navbar__login{
    position: absolute;
    width: 14rem;
    right: auto;
}
@media (min-width: 355px) {
    #navbar__login{
        position: absolute;
        width: 22rem;
        right: 0;
    }
}
#navbar__login a{
    font-size: 15px;
    padding: 0;
}
#navbar__login a:hover {
    background-color: white;
    
}
#navbar__login a:visited {
    background-color: white !important;
    
}
#carrito__contador{
    background-color: #70A83B !important;
}
