/* **********CARDS******************* */
.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: all 0.5s ease;
  }
  
  /* Letras del Carrusel */
.carouselH5 {
  left: 0;
  right: auto;
  text-align: left;
  font-size: 3rem;
  display: flex;
  height: 100%;
  line-height: 400px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.boton-verde{
  background-color: #70A83b;
  color:#FFFFFF;
}
/* Este boton es cafe  */
.boton-cafe{
    background-color:#4A2E10;
    color:#FFFFFF;
    font-size: 10px;
    border-radius: 8px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem 1rem;
}
.texto-kukui{
  font-size: 23px;
  font-family: 'Roboto', sans-serif;    
  font-weight: 700;
}
/* texto cafe */
.texto-cafe{
  text-align: left;
  color: #4A2E10;
}

/* texto gris con linea para descuentos */
/* .texto-gris{
  text-decoration-line: line-through;
  color: gray;
  font-size:20px;
  margin-right: 5px;
} */
/* Linea gris en la card */
/* .linea{
  border-bottom: rgb(218, 210, 210) solid 2px;
  margin: 0 1rem 5px 1rem;
} */
/* icono de estrella */
.fa-star{
  font-size: 0.6rem;
  color: white;
}
  /* css Nav Bar */
.nav-link {
  border-radius: 100px;
  border-color: #ffffff;
  color: #4A2E10;
  background-color: #ffffff;
}

.nav-link:hover {
  color: #4A2E10;
}

.nav-item {
  border-radius: 100px;
  background-color: #ffffff;
}

#buttonIngresar {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonIngresar:hover {
  background-color: #4A2E10;
  color: #ffffff;
}

#buttonCuenta {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonCuenta:hover {
  background-color: #4A2E10;
  color: #ffffff;
}

/*termina css Nav Bar*/