/* **********CARDS******************* */
.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: all 0.5s ease;
  }
.boton-blanco{
  background-color: #FFFFFF;
  color:#4A2E10;
}
.boton-verde{
  background-color: #70A83b;
  color:#FFFFFF;
}
/* Este boton es cafe  */
.boton-cafe{
    background-color:#4A2E10;
    color:#FFFFFF;
    font-size: 10px;
    border-radius: 8px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem 1rem;
}
.texto-kukui{
  font-size: 23px;
  font-family: 'Roboto', sans-serif;    
  font-weight: 700;
}

/* texto cafe */
.texto-cafe{
  text-align: left;
  color: #4A2E10;
}

.fa-star{
  font-size: 0.6rem;
  color: white;

}

.hover:hover{
  background-color: #4A2E10;
  color:#FFFFFF;
  
}


  /* css Nav Bar */
/* .nav-item {
  border-radius: 100px;
  border-color: #ffffff;
  color: #4A2E10;
  background-color: #ffffff;
}

.nav-item:hover {
  background-color: white;
  color: white;
}
.nav-link:hover {
  background-color: white;
  color: white;
}
.nav-item {
  border-radius: 100px;
  background-color: #ffffff;
}

#buttonIngresar {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonIngresar{
  background-color: #4A2E10;
  color: #ffffff;
}
#buttonIngresar:Hover{
  background-color: #FFFFFF;
  color: #ffffff;
}
#buttonCuenta {
  background-color: #eaeaea;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
} */


.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

/* Boton Cafe con Hover Bco*/

.botoncafe {
  font-size: larger;
  background-color: rgb(64, 57, 57);
  position: left;
  border-color: rgb(64, 57, 57);
  color: white;
  position: top;
  position: left;
  
}

/* Letras del Carrusel */
.carouselH5 {
  font-size: 3em;
}

.botoncafe:hover {
  background-color: white;
  color: rgb(64, 57, 57);
  border-color: rgb(64, 57, 57);
}

/*Responsiveness - Carrusel*/ 

@media screen and (min-width: 768px) {
  .carouselH5 {
    font-size: 4rem;
  }

  .carousel-description {
    font-size: 3rem;
  }
}

@media screen and (min-width: 400px) {
  .carouselH5 {
    font-size: 4em;
  }

  .carousel-description {
    font-size: 3em;
  }
}

.nav-font{
  font-size: 12px;
  
}

@media (min-width: 480px) {
  .facet_sidebar {
    font-size: 20px;
    
  }
}