/* **********CARDS******************* */
.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: all 0.5s ease;
  }
.boton-blanco{
  background-color: #FFFFFF;
  color:#4A2E10;
}
.boton-verde{
  background-color: #70A83b;
  color:#FFFFFF;
}
/* Este boton es cafe  */
.boton-cafe{
    background-color:#4A2E10;
    color:#FFFFFF;
    font-size: 10px;
    border-radius: 8px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem 1rem;
}
.texto-kukui{
  font-size: 23px;
  font-family: 'Roboto', sans-serif;    
  font-weight: 700;
}

/* texto cafe */
.texto-cafe{
  text-align: left;
  color: #4A2E10;
}

.fa-star{
  font-size: 0.6rem;
  color: white;

}



  /* css Nav Bar */
/* .nav-item {
  border-radius: 100px;
  border-color: #ffffff;
  color: #4A2E10;
  background-color: #ffffff;
}

.nav-item:hover {
  background-color: white;
  color: white;
}
.nav-link:hover {
  background-color: white;
  color: white;
}
.nav-item {
  border-radius: 100px;
  background-color: #ffffff;
}

#buttonIngresar {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonIngresar{
  background-color: #4A2E10;
  color: #ffffff;
}
#buttonIngresar:Hover{
  background-color: #FFFFFF;
  color: #ffffff;
}
#buttonCuenta {
  background-color: #eaeaea;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
} */


.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

/* Boton Cafe con Hover Bco*/

.botoncafe {
  font-size: larger;
  background-color: rgb(64, 57, 57);
  position: left;
  border-color: rgb(64, 57, 57);
  color: white;
  position: top;
  position: left;
  
}

/* Letras del Carrusel */
.carouselH5 {
  font-size: 3em;
}

.botoncafe:hover {
  background-color: white;
  color: rgb(64, 57, 57);
  border-color: rgb(64, 57, 57);
}

/*Responsiveness - Carrusel*/ 

@media screen and (min-width: 768px) {
  .carouselH5 {
    font-size: 4rem;
  }

  .carousel-description {
    font-size: 3rem;
  }
}

@media screen and (min-width: 400px) {
  .carouselH5 {
    font-size: 4em;
  }

  .carousel-description {
    font-size: 3em;
  }
}

.botonesIngresar{
  background-color:#eaeaea;
  color: #4A2E10;
  font-weight: 600;
}
.botonesIngresar:hover{
  background-color: #70A83B;
  color: #FFFFFF;
}


.nav-font{
  font-size: 12px;
  color: #4A2E10;
  font-weight: 600;
}
.nav-font:hover{
  color:#70A83b;
}


@media (min-width: 720px) {
  .facet_sidebar {
    font-size: 25px;
    
  }
}

.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

/* Boton Cafe con Hover Bco - OSCAR*/

.botoncafe {
  font-size: larger;
  background-color: rgb(64, 57, 57);
  position: left;
  border-color: rgb(64, 57, 57);
  color: white;
  position: top;
  position: left;
  
}
.botoncafe:hover {
  background-color: white;
  color: rgb(64, 57, 57);
  border-color: rgb(64, 57, 57);
}

/* Boton Verde con Hover Bco - OSCAR*/

.botonverde {
  font-size: larger;
  background-color: #70A83B;
  position: left;
  border-color: #70A83B;
  color: white;
  position: top;
  position: left;
  
}
.botonverde:hover {
  background-color: white;
  color: #70A83B;
  border-color: #70A83B;
}

/* Letras del Carrusel - OSCAR*/
.carouselH5 {
  font-size: 3em;
}


/*Responsiveness - Carrusel - OSCAR*/ 

@media screen and (min-width: 768px) {
  .carouselH5 {
    font-size: 4rem;
  }

  .carousel-description {
    font-size: 3rem;
  }
}

@media screen and (min-width: 400px) {
  .carouselH5 {
    font-size: 4em;
  }

  .carousel-description {
    font-size: 3em;
  }
}

/*Login CARD - OSCAR*/

.loginCard {
    background: #F4F4F4;
}

/*Login Letters- OSCAR*/

.loginLetter {
  color: rgb(64, 57, 57);
}

.loginLetter:hover {
  color: #70A83B;
}

/*Letters Brown- OSCAR*/

.letrasCafe {
  color: rgb(64, 57, 57);
}

/* Filtro */

.botonFiltro {
  background-color:  #F4F4F4;
  color: rgb(64, 57, 57);
  border-radius: 40px;
}

.botonFiltro:hover {
  background-color:rgb(64, 57, 57);
  color: #ffffff;
}

.botonFiltro:active{
  background-color:rgb(64, 57, 57);
  color: #ffffff;
}

.botonCafeCarrusel {
  font-size: larger;
  background-color: rgb(64, 57, 57);
  position: left;
  border-color: rgb(64, 57, 57);
  color: white;
  position: top;
  position: left;
  border-radius: 40px;
}
.botonCafeCarrusel:hover {
  background-color: white;
  color: rgb(64, 57, 57);
  border-color: rgb(64, 57, 57);
}
@media (min-width: 720px) {
  .loginPic {
    height: 100%;
    width: 100%;
    
  }
}

.imgTamañoLogin {
  width: 100px;
  height: 100px;
}


body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/*color de los links*/
a {
  color: #4A2E10;
}

/* lineas separadoras del footer */
.col-sm-4 {
  border-right: 1px solid #e6e6e6;
}
footer{
  color: #4A2E10;
}
/*tamaño de los iconos*/
.list-inline-item i {
  font-size: 30px;
}






/*EQUIPO STYLE*/
.textoheader {
  font-size: small;
  color: #9B9B9B;

}

.cards-wrapper{
  display: flex;
  margin: 110px;
}


.card{
  width:calc(100%/3);
  margin:10px;
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18) ;
  
}

.carousel-inner{
  padding: 1em;
}

.carousel-control-prev span, 
.carousel-control-next span{
  width: 3.0rem;
  height:3.0rem;
}
.card-text{
  font-weight: bolder;
  font-size: small;
  color:#4A2E10;
}

.texto2{
  font-size: small; 
  color:#70A83B;
}

@media screen and (max-width: 567px){
  .card:not(:first-child){
  display: none;
}
}

.image-wrapper img{
  max-width: 100%;
  max-height: 100%;

}


/*TERMINA EQUIPO STYLE*/