.card-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

/* css Nav Bar */
.nav-link {
  border-radius: 100px;
  border-color: #ffffff;
  color: #4A2E10;
  background-color: #ffffff;
}

.nav-link:hover {
  color: #4A2E10;
}

.nav-item {
  border-radius: 100px;
  background-color: #ffffff;
}

#buttonIngresar {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonIngresar:hover {
  background-color: #4A2E10;
  color: #ffffff;
}

#buttonCuenta {
  background-color: #ffffff;
  color: #4A2E10;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#buttonCuenta:hover {
  background-color: #4A2E10;
  color: #ffffff;
}

/*termina css Nav Bar*/