.ubi-txt h5{
    font-size: 23px;
    font-weight:bold;
  }
  .ubi-txt{
      background-color: rgb(245, 242, 242);
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      color: rgb(64, 57, 57);
      padding-left: 90px;
      padding-top: 50px;
      font-size: 15px;
      color: #4A2E10;
      font-weight: 600;
      
  }
  .ubi-map{
      background-color: rgb(245, 242, 242);
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      padding: 0%;
      filter:grayscale(1.3)
  }
  .btn-frm{
      background-color: #4A2E10;
      border-color: #4A2E10;
      color:#FFFFFF;
      border:0px;
      width: 150px;
      
      padding:16px;

  }
  .input{
      border-color:#70A83b ;
  }

  /*nav bar*/
  /* Codigo del logo en la NavBar */
#navbar__logo{
    margin:10px;
    margin-right: 10px !important;
    }
    @media (min-width:1080px ) {
        #navbar__logo{
            margin-left:50px !important;
            margin-right: 70px !important;
            }
    }
/* Estilo de los links de la navBar */
.navbar__links a{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4A2E10;
    margin-right: 0px;
}
.navbar__links a:hover{
    color: #70A83B;
}
.active{
    color: #858585 !important;
    pointer-events: none;
}
.navbar__links--invisible{
    display: none;
}
/* Codigo de los botones en la NavBar */
.navbar__botones{
    background-color: white;
    column-gap: 10px;
    flex-direction:unset !important;
}
.navbar__botones .a{
    color: gray;
    font-size: 24px;
    text-decoration: none;
    border: 4px solid #858585;
    border-radius: 100%;
    padding: 20px;
    background: #F5F5F5;
    height: 72px;
}
.navbar__botones .a:hover{
    border-color:#70A83B;
}
@media (min-width: 990px) {
    .navbar__links--invisible{
        display:contents;
    }
    .navbar__botones .a{
        color: #4A2E10;
        text-decoration: none;
        border:none;
        border-radius: 0%;
        background: white;
    }
    .navbar__links a{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #4A2E10;
        margin-right: 30px;
    }
}


/* Formulario dentro del boton de iniciar sesion */
#navbar__login{
    position: absolute;
    width: 14rem;
    right: auto;
}
@media (min-width: 355px) {
    #navbar__login{
        position: absolute;
        width: 22rem;
        right: 0;
    }
}
#navbar__login a{
    font-size: 15px;
    padding: 0;
}
#navbar__login a:hover {
    background-color: white;
    
}
#navbar__login a:visited {
    background-color: white !important;
    
}
#carrito__contador{
    background-color: #70A83B !important;
}
