/*Letters Brown- OSCAR*/

.letrasCafe {
    color: rgb(64, 57, 57);
}

/* Filtro */

.botonFiltro {
    background-color: #F4F4F4;
    color: rgb(64, 57, 57);
    border-radius: 40px;
}

.botonFiltro:hover {
    background-color: rgb(64, 57, 57);
    color: #ffffff;
}

.botonFiltro:active {
    background-color: rgb(64, 57, 57);
    color: #ffffff;
}

/* Boton Verde con Hover Bco - OSCAR*/

.botonverde {
    font-size: larger;
    background-color: #70A83B;
    position: left;
    border-color: #70A83B;
    color: white;
    position: top;
    position: left;

}

.botonverde:hover {
    background-color: white;
    color: #70A83B;
    border-color: #70A83B;
}

/* Boton Cafe con Hover Bco - OSCAR*/

.botoncafe {
    font-size: larger;
    background-color: rgb(64, 57, 57);
    position: left;
    border-color: rgb(64, 57, 57);
    color: white;
    position: top;
    position: left;

}

.botoncafe:hover {
    background-color: white;
    color: rgb(64, 57, 57);
    border-color: rgb(64, 57, 57);
}







/*Login CARD - OSCAR*/

.loginCard {
    background: #F4F4F4;
}

/*Login Letters- OSCAR*/

.loginLetter {
    color: rgb(64, 57, 57);
}

.loginLetter:hover {
    color: #70A83B;
}

.marginLogin {
    margin-left: 20px;
    margin-right: 20px;
}




body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }


   /* ---> VAlIDACION DE FORMLARIO */
 
   input:focus:invalid {
    outline: none;
  }
  
 
  .error {
    width : 100%;
    padding: 0;
  
    font-size: 80%;
    color: rgb(0, 0, 0);
   
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  
     /* <--- VAlIDACION DE FORMLARIO */