nav{
 
}
@media (min-width: 1190px) {
    .navbar__cols{
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}
.navbar__cols{
    /* margin-left: 50px !important;
    margin-right: 50px !important; */
    display: flex;
justify-content: center !important;
}
.navbar__logo{
margin-right:0px ;
}
@media (min-width:1010px ) {
    .navbar__logo{
        margin-right:70px ;
        }
}
.navbar__col1{
display: block;
justify-content: center;

}
.navbar__hamburguesa{
    display: flex;
    justify-content: center;
    row-gap: 10px;

}
.navbar__col2{
    display: block;
    border: #4A2E10 1px solid;
}
@media (min-width: 1191px) {
    .navbar__col2{
        
        display: flex;
        flex-direction: row-reverse;
    }
}
.navbar-brand {
}


.navbar__links {
display: flex;
justify-content: space-between;
}
@media (min-width:768px ) {
    .navbar__links {
        display: flex;
        min-width: 800px;
        width:fit-content ;
        max-width:1000px;
        justify-content: space-between;
        }
}
.navbar__links a{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4A2E10;
}
.navbar__links a:hover{

    color: #70A83B;
}
.active{
    color: #858585 !important;
    pointer-events: none;
}

.navbar__botones{
    display: flex;
    justify-content: space-evenly;
}
.navbar__botones a{
    color: gray;
    font-size: 24px;
    text-decoration: none;
    border: 4px solid #858585;
    border-radius: 100%;
    padding: 20px;
    background: #F5F5F5;
}
@media (min-width: 768px) {
    .navbar__botones a{
        color: gray;
        font-size: 48px;
        text-decoration: none;
        border: 5px solid #858585;
        border-radius: 100%;
        padding: 20px;
        background: #F5F5F5;
    }
}
.navbar__botones a:hover{
border-color: #70A83B;
}
#login{
    margin-left:14px ;
}